<div class="flex-center">
  <div class="container" ng-controller="UserCtrl">
    <div class="row flex-center">
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 jumbotron">
        <h1 align="center"><small class="white-text">Sign Up</small></h1>
        <br>
        <div id="user-form" class="flex-center row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-11 text-center">
            <form ng-submit="addUser()">
              <div class="form-group">
                <label>Username</label>
                <input class="form-control input-lg" type="text" ng-model="formData.username" required>
              </div>
              <div class="form-group">
                <label>Password (optional)</label>
                <input class="form-control input-lg" type="password" ng-model="formData.password">
              </div>
              <div class="form-group">
                <label>Email (optional)</label>
                <input class="form-control input-lg" type="email" ng-model="formData.email">
              </div>
              <br>
              <div align="center">
                <button type="submit" class="btn btn-primary btn-lg">Create an account</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="resData" id="user-result" class="row flex-center">
      <div class="col-xs-11 col-sm-10 col-md-8 col-lg-7 text-center alert alert-danger" role="alert">
        <h3>{{ resData }}</h3>
      </div>
    </div>
  </div>
</div>
